@charset "UTF-8";

.mmspc-image-viewer {
    text-align: center;
    display: flex;
    vertical-align: middle;
    width: 100%;
    height:100%;
    font-size: 17px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color:#000;
}

.mmspc-image-viewer__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center
}

.mmspc-image-viewer__wrapper::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle
}

.mmspc-image-viewer__image{
    max-width: 100%;
    height: auto;
}
.mmspc-image-viewer__btns_image{
    height:60px;
    width:60px;
    padding: 10px;
}
.mmspc-image-viewer__content {
    color: #48576a;
    font-size: 17px;
    position: relative;
    display: flex;
    flex:1;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.mmspc-image-viewer__btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content:stretch;
    text-align: center;
    width:80px;
    padding:15% 0;
    background-color:#000000
}
.mmspc-image-viewer__button{
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    border-radius: 0;
    width: 100%;
    justify-content:center;
    text-align: center;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
    flex-direction: column;
    font-size: 16px;
}

.mmspc-image-viewer__btns .high-light{
    color: #07b8ac;
}

.mmspc-image-viewer__btns-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.msgbox-fade-enter-active {
    animation: msgbox-fade-in .3s
}

.msgbox-fade-leave-active {
    animation: msgbox-fade-out .3s
}
.mmspc-image-viewer__indicator{
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right:50%;
    padding: 5px 10px;
}
@keyframes msgbox-fade-in {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes msgbox-fade-out {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}
@media screen and (orientation:portrait) {
    /* css[竖向定义样式] */
}
@media screen and (orientation:landscape) {
    /* css[横向定义样式] */
}

/* PC客户端或大屏幕设备: 1280px 至更大 */
@media only screen and (min-width: 1280px) {
    
}

.mmspc-image-viewer .viewer-cover {
}
.mmspc-image-viewer .viewer-list-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}
.mmspc-image-viewer .viewer-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.mmspc-image-viewer .viewer-image-container img {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}
.mmspc-image-viewer .viewer-image-pointer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.mmspc-image-viewer .viewer-image-pointer .pointer {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 100%;
  background-color: #333;
}
.mmspc-image-viewer .viewer-image-pointer .pointer.on {
  background-color: #fff;
}
.mmspc-image-viewer .viewer-image-loading {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: #333;
  border-bottom-color: #FFF;
  -webkit-animation: roll 1s linear infinite;
  animation: roll 1s linear infinite;
}
@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
