@charset "UTF-8";
.el-collapse {
    /*border: 1px solid #dfe6ec;*/
    border-radius: 0
}

.el-collapse-item:last-child {
    margin-bottom: -1px
}
.el-collapse-item.is-active>.el-collapse-item__header .mmspc-collapse-item__header__arrow_90{
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.el-collapse-item.is-active>.el-collapse-item__header .mmspc-collapse-item__header__arrow_180{
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.el-collapse-item__header {
   /* background-color: #fff;
    border-bottom: 1px solid #dfe6ec;
    
   */
    color: #48576a;
    cursor: pointer;
    background-color: #F9F9F9;
}
.el-collapse-item__header_simple {
    height: 43px;
    line-height: 43px;
    padding-left: 15px;
    font-size: 13px
}

.mmspc-collapse-item__header__arrow_180 {
    margin-right: 8px;
    transition: transform .3s
}

.mmspc-collapse-item__header__arrow_90 {
    margin-right: 8px;
    transition: transform .3s
}

.el-collapse-item__wrap {
    will-change: height;
  /*  background-color: #fbfdff;
    border-bottom: 1px solid #dfe6ec;
    
  */

    overflow: hidden;
    box-sizing: border-box;
        background-color: #F2F2F2;
}

.el-collapse-item__content {
    padding: 10px 15px;
    font-size: 13px;
    color: #1f2d3d;
    line-height: 1.769230769230769
}
.el-collapse-item{
    margin-bottom: 10px;
}