:root {
    --size-fontSize: red;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

li {
    outline-style: none;
    list-style: none;
}

.grayButton {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    font-size: 13px;
    padding: 11px 19px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #cccccc;
    border-color: #cccccc;
    border: none;
}

.orangeButton {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    border-radius: 4px;
    font-size: 13px;
    padding: 11px 19px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #FFA400;
    border-color: #FFA400;
    border: none;
}

.form_content {
    display: flex;
    background: #F5F5F5
}

.form_lf, .form_rt {
    flex: 1;
    padding: 20px 20px 0 20px;

}

.dashedButton, .dashedButton_on {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.dashedButton {
    background: #fff;
    border: 1px dashed #D7D7D7;
    color: #999999;
}

.dashedButton_on {
    background: #07B8AC;
    border: 1px dashed #D7D7D7;
    color: #fff;
}

.none_bottom {
    margin-bottom: 0px;
}

.footer_content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.footer_content_lf {
    flex: 0 0 150px;
    width: 150px;
    text-align: center;
}

.footer_content_rt {
    flex: 1;
}

.footer_content_rt button {
    width: 100%;
}

button span {
    font-size: 15px;
}

/*������*/
.three_box {
    flex: 1;
    display: flex;
}

.three_box_rt {
    flex: 0 0 120px;
    width: 120px;
    align-items: center;
    display: flex;
}

.three_child_lf, .three_child_rt {
    flex: 1;
    padding: 20px 0px 0 10px;
}

.img_box {
    display: flex;
}

.img_box li {
    flex: 1;
    padding: 0 10px;
    text-align: center;
}

.img_box p {
    font-size: 15px;
    color: #cccccc;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 20px;
}

.three_box_rt > div {
    margin: 0 auto;
    border-left: 1px solid #ddd;
    text-align: center;
    padding: 0 10px;
}

.form_content_row {
    display: flex;

    margin: 0;
}

.form_content_col .el-form-item {
    margin: 0
}

.form_content_col {
    padding-bottom: 20px;
    background: #F9F9F9;
}

/*�̶�ƽ��*/

.addParty_box {
    width: 100%;
    overflow: hidden;
    padding: 30px 20px;
}

.addParty_box > li {
    width: 33.33%;
    flex-wrap: wrap;
    float: left;
    margin-bottom: 30px;
    height: 160px;
    position: relative;
}

.addParty_title {
    width: 90%;
    padding-top: 15px;
    padding-left: 15px;
    background: #fff;
    height: 160px;
}

.addParty_title > li {
    font-size: 12px;
    color: #999999;
    padding-bottom: 10px;

}

.addParty_title_key {
    font-size: 15px;
}

.addParty_title_value {
    font-size: 15px;
    color: #666666;
}

.greenFont, .grayFont {
    font-size: 15px;

}

.greenFont {
    color: #07B8AC
}

.grayFont {
    color: #999999;
}

.addParty_footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
}

.addParty_footer .greenFont, .addParty_footer .grayFont {
    position: absolute;
    bottom: -10px;
}

.addParty_footer .greenFont {
    color: #07B8AC;
    left: 0;
}

.addParty_footer .grayFont {
    position: absolute;
    right: 50px;
}

.addcontact {
    width: 33.33%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: left;
    margin-bottom: 30px;
    height: 175px;
    position: relative;
    background: #fff;
    text-align: center;
}

.addcontact p {
    font-size: 14px;
    color: #666666;
}

.addcontact > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.img_box li img {
    max-height: 130px;
    max-width: 200px;
}

.showTab1, .showTab2, .scrollContent, .scrollauto {
    overflow: auto;
    height: 100%;

}

.loan_footer {
    height: 100px;
}

.camera_box > p, .camera_bigBox > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    background-size: cover;
}

.camera_box, .camera_bigBox {
    position: relative
}

.camera_box > p > img {
    width: 50%;
    height: 50%;
}

.camera_bigBox > p > img {
    width: 100%;
    height: 100%;
}

.form_bg {
    padding: 20px 20px 0 20px;
    background: #F9F9F9;
}

.investiBox {
    overflow: hidden;
    padding: 20px 0;
}

.talk_label {

    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 17px;
    color: #48576a;
    line-height: 1;
    padding: 11px 12px 11px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
}

.talk_Box li {
    color: #666666;
    line-height: 26px;
    font-size: 13px;
}

.talk_Box {
    margin-left: 80px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.collect_img {
    margin-bottom: 8px;
    max-height: 130px;
    max-width: 180px;

}

.collect_span {
    font-size: 15px;
    /*margin-left:30%;*/
    text-align: center;
    display: block;
}

.collectBox, .center_box {
    overflow: auto;
    height: 500px;
    padding: 20px;
    background: #F9F9F9;
}

.center_box {
    position: relative;
    width: 100%;

}

.center_box .addcontact {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.layoutBoxs {
    text-align: center
}

body {
    background-color: var(--red-color);
}

.loading-button {
    color: #fff;
    width: 60px;
    background: #07b8ac;
    border: 0;
    border-radius: 0 4px 4px 0;
    height: 36px;
    position: absolute;
    right: 0px;
    top: 0px;
}