*{margin:0;padding:0}
li{list-style: none;}
.contanterBox{padding:30px;}
.titleBox{
	display: flex;
	justify-content:space-between;
	height: 30px;
	line-height: 30px;
	border-bottom:1px solid #08A594;
	margin-bottom:15px;
}
.greenfonts{
	color:rgb(8, 165, 148);
}
.redfonts{
	color:#FB6B6B;

}
.titleBox>.greenfonts{
	border-bottom:2px solid #08A594;
	font-size: 18px;
}
.titleBox>.redfonts{
	font-size: 15px;

}
.listRediao .el-form-item{ margin-bottom: 0; }
.box1{text-align: center;}
.box1 img{width: 30px;height:30px;}
.box1 p{font-size: 14px;}
.writeList>li{
	background: #F2F2F2;
	padding: 20px;
	margin-bottom: 10px;
}
.writeList1>li{
    margin-bottom: 10px;
}
.writeList1 .el-collapse-item__header{
padding: 10px 0;
}
.box2{

}
.box2>li{
	color: #797979;
    height: 25px;
    line-height: 25px;
    font-size: 15px;

}
.box2>li>span{
	   font-size: 16px;
	   color:#666666;
}
// .tab1{display:none}
.search_box{height:45px;background:#fff;}
.tab2{
	// height:45px;
	// line-height: 45px;
	background:#F2F2F2;
}
.search_box .el-input__inner{
	margin-top: 5px;

}
.serarch_box_lf,.serarch_box_rt{
	height:45px;
	line-height: 45px;
	text-align: center;
	color: #999999;
}
.search_result li{
	    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.search_result{
	    width: 94%;
    /* background: #fff; */
    margin: 0 auto;
}
.search_result>span{
	    font-size:15px;
    float: left;
    color:#666666;
}
.search_title>.mmspc-icon-delete{
    float: right;
    color: #666666;
    font-size: 20px;
    cursor: pointer;
}
.search-hotkey{
	 margin: 10px 0;
}
.search-hotkey li {
    font-size: 14px;
    width: inherit;
    height: 30px;
    line-height: 30px;
    background: #E4E4E4;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid #dedede;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
    color: #666666;
}
.search_title{padding:15px 0;}
.search_title>span{
    font-weight: normal;
    font-size: 16px;
    color: #666666;

}
.search_bg_box{position: relative;}
.search_bg_box>i{
	    position: absolute;
    right: 30px;
    color: #ddd;
    top: 10px;
}
.search_bg_box>span{
	    position: absolute;
    left: 0;
    font-size: 13px;
    top: 9px;
    color: #CCCCCC;
    left: 13px;
}
.collapse_icon4{
    text-align: center;
}
.stepsBoxs{
    text-align: center
}
.yellowButton{
    display:inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
// padding: 8px 15px;
    border-radius: 4px;
    font-size: 13px;
// margin-bottom:10px;
// margin-right:20px;
    padding: 11px 19px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #f9c855;
    border-color: #f9c855;
    border:none;
}