@charset "UTF-8";

.el-select-list .el-tag,
.el-select-list-dropdown,
.el-select-list-dropdown__item,
.el-tag,
.el-textarea__inner {
    box-sizing: border-box
}

.el-select-list {
    position: absolute;
    z-index: 1001;
    background-color: #fff;
}

.el-select-list .el-scrollbar.is-empty .el-select-list-dropdown__list {
    padding: 0
}

.el-select-list-dropdown__item.selected {
    color: #07b8ac;
    background-color: #fff
}

.el-select-list-dropdown__item.selected.hover {
    background-color: #e4e8f1
}

.el-select-list-dropdown__item.selected::after {
    position: absolute;
    right: 20px;
    font-family: element-icons;
    content: "\E608";
    font-size: 11px;
    color: #07b8ac;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.el-select-list-dropdown__empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px
}

.el-select-list-dropdown__wrap {
    max-height: 274px
}

.el-select-list-dropdown__list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box
}
.mmpsc-select-list-dialog .el-dialog__body{
    padding:0px;
    margin-bottom:5px;
    border-top: 1px solid #ccc;
}
.mmpsc-select-list-dialog .el-dialog__header{
    padding:15px 20px 15px 20px;
}

.el-textarea__inner:focus {
    outline: 0;
    border-color: #07b8ac
}

.el-tag {
    background-color: #8391a5;
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap
}

.el-tag .mmspc-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    -ms-transform: scale(.75, .75);
    transform: scale(.75, .75);
    height: 18px;
    width: 18px;
    line-height: 18px;
    vertical-align: middle;
    top: -1px;
    right: -2px
}

.el-tag .mmspc-icon-close:hover {
    background-color: #fff;
    color: #8391a5
}

.el-tag--gray {
    background-color: #e4e8f1;
    border-color: #e4e8f1;
    color: #48576a
}

.el-tag--gray .el-tag__close:hover {
    background-color: #48576a;
    color: #fff
}

.el-tag--gray.is-hit {
    border-color: #48576a
}

.el-tag--primary {
    background-color: rgba(32, 160, 255, .1);
    border-color: rgba(32, 160, 255, .2);
    color: #07b8ac
}

.el-tag--primary .el-tag__close:hover {
    background-color: #07b8ac;
    color: #fff
}

.el-tag--primary.is-hit {
    border-color: #07b8ac
}

.el-tag--success {
    background-color: rgba(18, 206, 102, .1);
    border-color: rgba(18, 206, 102, .2);
    color: #13ce66
}

.el-tag--success .el-tag__close:hover {
    background-color: #13ce66;
    color: #fff
}

.el-tag--success.is-hit {
    border-color: #13ce66
}

.el-tag--warning {
    background-color: rgba(247, 186, 41, .1);
    border-color: rgba(247, 186, 41, .2);
    color: #f7ba2a
}

.el-tag--warning .el-tag__close:hover {
    background-color: #f7ba2a;
    color: #fff
}

.el-tag--warning.is-hit {
    border-color: #f7ba2a
}

.el-tag--danger {
    background-color: rgba(255, 73, 73, .1);
    border-color: rgba(255, 73, 73, .2);
    color: #ff4949
}

.el-tag--danger .el-tag__close:hover {
    background-color: #ff4949;
    color: #fff
}

.el-tag--danger.is-hit {
    border-color: #ff4949
}

.el-select-list-dropdown__item {
    font-size: 14px;
    padding: 8px 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #48576a;
    height: 36px;
    line-height: 1.5;
    cursor: pointer;
    text-align: left;
}

.el-select-list-dropdown__item.hover,
.el-select-list-dropdown__item:hover {
    background-color: #eeeeee;
}

.el-select-list-dropdown__item.selected {
    color: #07b8ac;
}

.el-select-list-dropdown__item.selected.hover {
    background-color: #eeeeee;
}

.el-select-list-dropdown__item span {
    line-height: 1.5 !important;
}

.el-select-list-dropdown__item.is-disabled {
    color: #bfcbd9;
    cursor: not-allowed
}

.el-select-list-dropdown__item.is-disabled:hover {
    background-color: #fff
}

.el-select-list-group {
    margin: 0;
    padding: 0
}

.el-select-list-group .el-select-list-dropdown__item {
    padding-left: 20px
}

.el-select-list-group__wrap {
    list-style: none;
    margin: 0;
    padding: 0
}

.el-select-list-group__title {
    padding-left: 10px;
    font-size: 12px;
    color: #999;
    height: 30px;
    line-height: 30px
}

.el-scrollbar {
    overflow: hidden;
    position: relative
}

.el-scrollbar:active .el-scrollbar__bar,
.el-scrollbar:focus .el-scrollbar__bar,
.el-scrollbar:hover .el-scrollbar__bar {
    opacity: 1;
    transition: opacity 340ms ease-out
}

.el-scrollbar__wrap {
    overflow: scroll
}

.el-scrollbar__wrap--hidden-default::-webkit-scrollbar {
    width: 0;
    height: 0
}

.el-scrollbar__thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(151, 168, 190, .3);
    transition: .3s background-color
}

.el-scrollbar__thumb:hover {
    background-color: rgba(151, 168, 190, .5)
}

.el-scrollbar__bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 120ms ease-out
}

.el-scrollbar__bar.is-horizontal {
    height: 6px;
    left: 2px
}

.el-scrollbar__bar.is-horizontal>div {
    height: 100%
}

.el-scrollbar__bar.is-vertical {
    width: 6px;
    top: 2px
}

.el-scrollbar__bar.is-vertical>div {
    width: 100%
}

.el-select-list {
    display: flex;
    position: relative;
    align-items: stretch;
}



.el-select-list .el-tag {
    height: 24px;
    line-height: 24px;
    margin: 3px 0 3px 6px
}


.el-select-list__close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: 1000;
    right: 25px;
    color: #bfcbd9;
    line-height: 18px;
    font-size: 12px
}

.el-select-list__close:hover {
    color: #97a8be
}

.el-select-list__tags {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.el-select-list__tag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #07b8ac
}

.el-select-list__tag .mmspc-icon-close {
    font-size: 12px
}

.el-select-list .el-scrollbar{
    width: 100%;
}